<main class="main">
        <div class="divInput">
            <h1>Buscador de Películas Animes </h1>
            <input type="text" class="textInput js-textInput" placeholder="naruto">
            <button class="search js-search">Buscar</button>
            <button type="reset js-reset">Reset</button>
            <h2>Lista Películas</h2>
            <ul class="ulList js-ulList"> 
            </div>
        </div>
        <div class=" js-div">
            <h2>Películas Favoritas</h2>
            <ul class="ulListFav"></ul>
        </div>
            
</main>