<main>
    <section>
        <div class="divInput">
            
            <input type="text" class="textInput js-textInput" placeholder="margarita">
            <button class="search js-search">Buscar</button>
            <button type="reset js-reset">Reset</button>
        </div>
    </section>
    <section>
        <h2>Lista</h2>
        <ul class="js-ulList">
           <!--  <li>
                    <img src="" alt="">
                    <h3></h3>
            </li>
        </ul>
       -->

    </section>
        
        
</main>